<div class="page-theme">
  <h1>All my standalone Lyrics</h1>

  <% @lyrics.each do |lyric| %>
    <p class="stability-<%= lyric.stability %>">
      <%= link_to lyric.content, lyric_path(lyric) %>
      <%= lyric.created_at.strftime('%D') %>
    </p>
  <% end %>
</div>
